<div class="box">
  <div>
    <h3 class="title">Presupuesto disponible:</h3>
    <p class="title_value">{{ totalValue | currency}}</p>
  </div>
  <div class="data">
    <div class="data__account">
      <span class="data__account-title">INGRESOS</span>
      <div class="data__account-box">
        <span class="data__account-value">{{ingresos | currency}}</span>
      </div>
    </div>
    <div class="data__account">
      <span class="data__account-title">EGRESOS</span>
      <div class="data__account-box">
        <span class="value">{{egresos | currency}}</span>
        <span class="percent">{{percent | percent}}</span>
      </div>
    </div>
  </div>
</div>
