<div class="card">
    <h2 class="card-title">Ingresos:</h2>
  <div class="card-data" *ngFor="let incomeItem of income; let i = index">
    <span class="card-data__id">{{ i + 1 }}</span>
    <p class="card-data__description">{{ incomeItem.description }}</p>
    <div class="card-data__right">
      <p class="card-data__value income-value">{{ incomeItem.value | currency: 'USD' : '$' : '1.2-2' }}</p>
      <div class="card-data__eliminar">
        <button class="btn income-delete">
          <i class="fas fa-trash-alt" (click)="onDelete(i)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
