@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//Vars
:root {
  --white: #ffffff;
  --grey: #6e6e6e;
  --orange: #ff6214;
  --skyblue: #00a9ab;
  --skygrey: #f0ecec;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.card {
  width: 500px;
  &-title {
    color: var(--skyblue);
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  &-data {
    background-color: var(--skygrey);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1rem;
    &__id {
      width: 8%;
    }
    &__description {
      width: 72%;
    }
    &__right{
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 0.625rem;
    }
    &__value {
      float: left;
      transition: transform 0.3s;
    }
    &__eliminar {
      float: left;
    }
    &__percent{
      background-color: #ff874b;
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      color: var(--white);
    }
  }

  .btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    color: #28B9B5;
  }

  .card-data:hover .btn {
    display: block;
  }

  .card-data .btn:active {
    transform: translateY(2px);
  }
  .card-data:hover .card-data__value {
    transform: translateX(-20px);
  }
  .card-data:hover .elemento_porcentaje {
    transform: translateX(-20px);
  }

  .title-second {
    color: var(--orange);
  }
}
