<form  class="container" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
  <select
    (change)="typeOperator($event)"
    name="selectedValue"
    class="form-input"
    [ngClass]="{
      borderClass: typeSelected === 'addExpense'
    }"
  >
    <option value="addIncome" selected>+</option>
    <option value="addExpense">-</option>
  </select>
  <input
    class="form-input description"
    type="text"
    placeholder="Description"
    name="description"
    #inputDescription="ngModel"
    [(ngModel)]="description"
    [ngClass]="{
      invalid: !inputDescription.valid && inputDescription.touched,
      borderClass: typeSelected === 'addExpense'
    }"
    required
  />
  <input
    class="form-input value"
    type="number"
    placeholder="200"
    name="value"
    #inputValue="ngModel"
    [(ngModel)]="value"
    [ngClass]="{
      borderClass: typeSelected === 'addExpense'
    }"
    min="0"
    required
  />
  <button type="submit" class="btn-form">
    <i
      [ngClass]="{
        iconClass: typeSelected === 'addExpense',
        inconClassGreen: typeSelected === 'addIncome'
      }"
      class="ion-ios-checkmark-outline"
    ></i>
  </button>
</form>
