.container{
  padding: 2rem 0;
  display:flex;
  column-gap: 0.875rem;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
}

.form-input{
  padding: 1rem;
  border: 0.5px solid rgb(192, 192, 192);
  &:focus{
    outline: none;
    border: 2px solid var(--skygreen);
  }
  &.invalid{
    border: 2px solid red;
  }
  &.borderClass:focus{
    border: 2px solid var(--skyorange);
  }
}

.select{
  width: 10%;
  padding: 0.5rem;
}

.description{
  width: 60%;
}

.value{
  width: 20%;
}

.btn-form{
  background-color: transparent;
  border: none;
  cursor: pointer;
  *.ion-ios-checkmark-outline{
    font-size: 2.5rem;
    &.inconClassGreen{
      color: var(--skygreen);
    }
    &.iconClass{
      color: var(--skyorange);
    }
  }
}
